@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular-webfont_woff.woff') format('woff');
}

@font-face {
  font-family: 'DFG-Icons';
  src: url('./assets/fonts/dfg-icon-font.woff') format('woff');
}
